
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:white;
    background: #0E6655;
    text-align: center;
    align-items: center;
    padding: 10px;
    height:180px;
    width:303px;
   border-radius:10px;


   box-shadow:  -9px 9px 23px #c1c1c1,
   9px -9px 23px #ffffff;
}

.container img{
    margin-top: 25%;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    transform: rotate(0deg);
    box-shadow:  -5px 5px 10px #0c5849,
    5px -5px 10px #10725e;
  }


  .buttons {
    display: flex;
    flex-direction: row;
  }
  .bttn{
    text-decoration: none;
    margin-left: 5%;
  }
  .buttons button{
    background-color:white;
    color:#0E6655;
    text-decoration: none;
    width: 80px;
 height: 33px;
  border: none;
  box-shadow:  -5px 5px 10px #0c5849,
  5px -5px 10px #10725e;
    margin-top:10%;
   
    border-radius: 76px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .subContainer{
    margin-left: 7%;
  }