.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap:10%;
    grid-row-gap:4%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 100%;
}
