
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    background: #0E6655;
    text-align: center;
    align-items: center;
    padding: 0px;
    width: 182px;
   height: 220px;
   border-radius: 23px;
   box-shadow:  -6px 6px 12px #c1c1c1,
   6px -6px 12px #ffffff;
}

.container img{
    margin-top: 25%;
    border-radius: 100px;
     height:82px;
     width: 81px;
    transform: rotate(0deg);
    box-shadow:  -5px 5px 10px #0c5849,
    5px -5px 10px #10725e;
  }

.bttn{
    background-color:white;
   color:#0E6655;
   text-decoration: none;
   width: 95px;
height: 33px;

   border-radius: 76px;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-top:10%;
   box-shadow:  -5px 5px 10px #0c5849,
   5px -5px 10px #10725e;
}

.h4{
  font-family: Saira;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 121.4%;
width: 99%;
height: 22px;
margin-bottom: 5%;
padding:5%;

}

.bttn p{
  font-family: Saira;
font-style: normal;
font-weight: 500;
font-size: 12.5px;
line-height: 121.4%;
padding:10px;
}

.h4 p {
  box-shadow:  -5px 5px 10px #0c5849,
  5px -5px 10px #10725e;
}

@media (max-width: 700px) { 
  .container{
      display: flex;
  flex-direction: column;

  }
}