
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    background: #0E6655;
    text-align: center;
    align-items: center;
    padding: 0px;
    height:100%;
    width:17vw;
   border-radius:10px;
}

.container img{
    margin-top: 25%;
    border-radius: 100px;
     height:150px;
     width: 150px;
    transform: rotate(0deg);
  }

.bttn{
    background-color:white;
   color:#0E6655;
   border-radius:10px;
   text-decoration: none;
   padding:5px;
   margin-top: 3%;
}