.button {
    background-color: #0E6655;
    width: 100%;
    position: relative;
    width: 200px;
    height: 35px;
    align-items: center;
    justify-content: stretch;
    color: white;
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    border: none;
    outline: none;
}

.button p{
    margin-left: 6%;
    font-family: Saira;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
color: #FFFFFF;
}

.button h2{
    margin-left: 32%;
    font-family: Saira;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;  
}

@media (max-width: 700px) { 
    .container{

        display: none;
    }
}