.container {
    margin-left:20%;
    margin-top: 2%;
    background-color:#0E6655;
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;

    padding: 5%;
    border-radius: 50px;
    background: #0E6655;
    box-shadow:  4px 4px 6px #0d5c4d,
                 -4px -4px 6px #0f705e;
} 

.Inputs2 {
    background-color:#0E6655 ;
    padding: 1%;
    border: 1%;
    border-radius: 10px;
    color: rgb(204, 200, 200);
    width: 160px;
    position: absolute;
    top: 20px;
    right:10px;
    cursor: pointer;
}

.title {
    text-align: center;
    color: white;
}