.FormStyle{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}

.container{
    width: 350px;
        margin-top: 20px;
        background-color:#0E6655;
        color: white;
        display: flex;
        flex-direction: column;

        padding: 7%;
        border-radius: 50px;
        background: #0E6655;
}

.inputs {
    width: 250px;
    position: initial;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 7px;
    border: 2px solid black;
    font-family: 'calibri';
    font-size: 15px;  
    color:black;
    resize: vertical;
}

.bttn{
    background-color: white;
    color:#0E6655;
    width: 150px;
    height: 35px;
    border:none;
    border-radius: 25px;
    margin-top: 2%;
    cursor: pointer;
}
 
.bttn:hover {
    background-color:rgb(202, 199, 199);
    transition-duration: 0.5s;
}

.selects {
    width: 355px;
    height: 40px;
    padding: 7px 10px;
    margin-right: 2%;
    margin-left: 2%;
    outline: 0;
    border: none;
    border-radius: 10px;
    color: #0E6655;
    background: #ffffff;
    font-size: 1em;
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    transition: all 0.25s ease;
    cursor: pointer;
  }