.button{
    background-color: white;
    color:#0E6655;
    width: 100px;
    height: 35px; 
    border:none;
    border-radius: 25px; 
    
}

.button i{
    margin-right: 4%;
}

@media (max-width: 700px) { 
    .button{
        width: 50px;
    }
    .button p{
        display: none;
    }
}