.container{
    margin-left: 40vw;
    background: #0E6655;
    color: white;
    padding:4%;
    justify-content: center;
   align-items: center;
   
    border-radius:20px;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    height: 500px;
    width: 335px;
}

.container img{
border-radius: 100%;
height: 250px;
width:250px;
    margin-bottom: 5%;
    border: 4px solid white;
}

.login{
    margin-top: 5%;
}

.text {
    text-align: left;
}

.text h3{
    text-align: center;
}