.mainContainer {
    display: flex;
    flex-direction: row;
    
    margin-top: 20px;
    margin-bottom: 2%;
}

.container {
    margin-left: 20vw;
    background: #0E6655;
    color: white;
    padding: 4%;
    justify-content: center;
    align-items: center;
    box-shadow:  4px 4px 6px #0d5c4d,
                 -4px -4px 6px #0f705e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    height: 530px;
    width: 335px;
}

.container img {
    border-radius: 100%;
    height: 250px;
    width: 250px;
    margin-bottom: 5%;
    border: 4px solid white;
}

.login {
    margin-top: 5%;
}

.text {
    text-align: left;
}

.text h3 {
    text-align: center;
}

.secondContainer {

    margin-left: 6vw;
    background: #0E6655;
    color: white;
    padding: 4% 0%;
    justify-content: center;
    align-items: center;
    box-shadow:  4px 4px 6px #0d5c4d,
                 -4px -4px 6px #0f705e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    height: 530px;
    width: 550px;
}

.thirdContainer{
    margin-left: 6vw;
    background: #0E6655;
    color: white;
    padding: 4% 0%;
    justify-content: center;
    align-items: center;
    box-shadow:  4px 4px 6px #0d5c4d,
                 -4px -4px 6px #0f705e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    height: 350px;
    width: 550px;
}

.warning {
    color: red
}