
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    background: #0E6655;
    text-align: center;
    align-items: center;
    padding: 0px;
    height:303px;
    width:225px;
   border-radius:23px;
   box-shadow:  -5px 5px 10px #969696,
   5px -5px 10px #ffffff;
}


.h4{
    font-family: Saira;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 121.4%;
  width: 99%;
  height: 22px;
  margin-bottom: 5%;
  padding:5%;
  }
.p{
    font-family: Saira;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
border: 1px solid #0E6655;
}
.container img{
    margin-top: 25%;
    border-radius: 100px;
     height:80px;
     width: 80px;
     box-shadow:  -5px 5px 10px #0c5849,
     5px -5px 10px #10725e;
     transform: rotate(0deg);
  }

.price{
    background-color:white;
    color:#0E6655;
    padding:5%;
    margin-top: -5px;
    border-radius: 67px;
    padding-left: 50px;
    font-family: Saira;
    height: 50px;
    width: 147px;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 35px;
margin-left: 1%;
border: 1px solid  white;
box-shadow:  -5px 5px 10px #0c5849,
5px -5px 10px #10725e;
}

.shop{
    flex-direction:row;
    display:flex;
    margin-top: 5%;
    margin-left: 22%;
    margin-bottom: 5%;
    padding:10px;
   
}
.price:hover{
    background-color: #f1efef
}
.circle{
    background-color:#0E6655;
    border-radius:100%;
    margin-right: -27%;
    margin-bottom: -50px;
    width: 41px;
height: 41px;
    z-index: 1;
    text-align:center;
    align-items: center;
    justify-content: center;
}
.circle p{
   color:white;
   font-family: Saira;
   font-style: normal;
   font-weight: 500;
   font-size: 72px;
   line-height: 35px;
   margin-top:-6%;
}

.categories {
    margin-top:3%;
    height: 220px;
    width: 120px;
}

@media (max-width: 700px) { 
    .container{
        display: flex;
    flex-direction: column;
      margin-left: 50%;
    }
  }