.container {
    margin-left: 0vw;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

.container img {
    height: 60px;
    width: 60px;
    transform: rotate(0deg);

    border-radius: 100%;
}

.product {
    background-color: #0E6655;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 25px;
    margin-bottom: 2%;
    margin-top: 1%;
    padding: 10px;
    font-size: 12px;
    height: 70px;
    width: 390px;
}

.tittle {
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    width: 150px;
    height: 22px;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 121.4%;
}

.price {
    align-items: center;
    justify-content: center;
    height: 17px;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 121.4%;
    margin-right: 1%;
    align-items: center;
    justify-content: center;
}

.bttn {
    align-items: center;
    justify-content: center;
    background-color: #0E6655;
    border: none;
     margin-top:-14%;

    color: #ffffff;
    margin-right: 0.6%;
    height: 15px;
    width: 15px;
    font-size: 19px;
    font-family: Saira;
    font-style: bold;
}

.count {
    margin-right: 1.2%;
    margin-left: 1.2%;
    font-size: 16px;
}

.comprar {
    margin-top: 2%;
   background-color: #0E6655;
        color:#ffffff;
        width: 100px;
        height: 35px; 
        border:none;
        border-radius: 25px; 
        
    
}
.comprar:hover {
    background-color: #073a2f;
}

.total {
    margin-top:2%;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 121.4%;
    color: #0E6655;
}

.agregar{
    display: inline-flex;
    flex-direction: row;
}