.container{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.cards{
    margin-left: 3%;
    background: #0E6655;
    border-radius:23px;
}

.principal{
    display: flex;
    flex-direction: column;
}

.bttn{
    background-color: #138b73;
    color:white;
    width: 20%;
    height: 10%; 
    border:none;
    border-radius: 5px; 
    margin-top: 0%;
    padding:2%;
    margin-left: 7%;
    cursor: pointer;
  }
