.container{
    display: flex;
    height:100%;
    width:100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.margin{
    margin-left:16vw;
}
.cards{
    display: flex;
    flex-direction: column;
    margin-top: 2%;

    
}

.h3Primario{
    margin-top: 1%;
   
    margin-bottom: 3%;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 121.4%;
    color:#0E6655;
}

.searchbar {
     margin-left: 0.5%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5%;
    width: 80vw;
}

.h3Secundario{
    margin-top: 3%;
    margin-bottom: 1.5%;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 121.4%;
    color:#0E6655;
}

.h3Terceario{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 121.4%;
    color:#0E6655;
}

.seeAll{
    display: flex;
    flex-direction: row;
   
}

.verTodos{
    padding-top:10%;
    margin-top: 1%;
    margin-bottom: 3%;
    width: 100%;
  margin-left: 490%;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 121.4%;
    color:#0E6655;
}

.Link{
    text-decoration: none;
}

.render{
    margin-left: -5%;
}

.rechargeBtn {
    background-color:#0E6655 ;
    padding: 1%;
    border: 1%;
    border-radius: 10px;
    color: white;
    width: 160px;
    position: absolute;
    top: 130px;
    right:10px;
}

@media (max-width: 700px) { 
    .verTodos{
        margin-left: 10px;
    }
    .seeAll{
        flex-direction: column;
    }
    .seeAll p{
        font-size:12px;
        text-align: left;
        margin-left: 5%;
    }
    .searchbar {
        margin-left:-23%;
    }
}