.container{
    display: flex;
    height:100%;
    width:100%;
    background-color: white;
    flex-direction: column;
}

.margin{
    margin-left: 45%;
}
.cards{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.cards h3{
    margin-bottom: 4%;
    margin-top: 4%;
    color:#0E6655;
}

.searchbar {
    display:flex;
    flex-direction: row;
}