.profile img {
    border-radius: 100%;
    width: 56px;
    height: 56px;
    margin-left: 25%;
}
.profile :hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.iconProfile{
   font-size: 56px;
   margin-left: 2%;
   color:#0E6655;
}

.iconLoading {
    font-size: 56px;
    width: 56px;
    height: 56px;
}

@media (max-width: 700px) { 
    .profile img {
        margin-left: 45%;
    }
}