.container{

    margin-left:30%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: black solid;
    border-radius: 11px;
    padding: 1%;
}

.Inputs {
    background-color:#0E6655 ;
    padding: 1%;
    border: 1%;
    border-radius: 10px;
    color: white;
    width: 32%;
    margin-left: 35%;
    margin-top: 11%;
    text-align: center;
}

.Inputs2 {
    background-color:#0E6655 ;
    padding: 1%;
    border: 1%;
    border-radius: 10px;
    color: white;
    width: 160px;
    position: absolute;
    top: 20px;
    right:10px;
}

.img {
    margin-left:25%;
    width: 50%;
}