/* .container{
    margin-left: 23vw;
    display:flex;
    flex-direction: column;
}
 */
.container {
    margin-left:26vw;
    margin-top: 8%;
    height: 550px;
    background-color:#0E6655;
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
    border-radius: 50px;
    background: #0E6655;
    box-shadow:  4px 4px 6px #0d5c4d,
                 -4px -4px 6px #0f705e;
}
 
.input {
    width: 250px;
    position: relative;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 7px;
    border: 2px solid black;
    font-family: 'calibri';
    font-size: 15px;  
    color:black;
    resize: vertical;
} 

.bttn {
    background-color: white;
    color:#0E6655;
    width: 100px;
    height: 35px;
    border:none;
    border-radius: 25px;
    margin-top: 2%;
    cursor: pointer;
}
 
.bttn:hover {
    background-color:rgb(202, 199, 199);
    transition-duration: 0.5s;

}
 
.label {
    text-align: left;
}

.select {
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    padding: 7px 10px;
    outline: 0;
    border: none;
    border-radius: 10px;
    color: #0E6655;
    width: 250px;
    background-color: #ffffff;
    font-size: 1em;
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    transition: all 0.25s ease;
    justify-content: initial;
  }

.deleteBtn {
    max-width: auto;
    height: 50px;
    border-radius: 10px;
    background-color: #000000;
    color: #FFF;
    font-style: normal;
    border: solid 1px #FFF;
    transition: 500ms;
    margin: 16px 0;
    font-size: 10px;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;
 }
 
 .delete {
    position: relative;
    top: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.divs {
    margin-left: 0px;
}
