.search {
  width: 100%;
  position: relative;
  display: flex;
  width: 376px;
  height: 35px;
  margin-left: 18%;
}

.searchTerm {
  width: 100%;
  border: 1px solid #0E6655;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 20px 0 0 20px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #075344;
}

.searchButton {
  width: 40px;
  height: 32px;
  border: 2px solid #0E6655;
  background: #0E6655;
  text-align: center;
  color: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 700px) { 
  .search{
    width:150px;
    margin-left:70% ;
  }
}