.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    background: #0E6655;
    text-align: center;
    padding: 0px;
    height:200px;
    width:303px;
    border-radius:23px;
    box-shadow:  -5px 5px 10px #969696,
    5px -5px 10px #ffffff;
}

.container h4{
    font-family: Saira;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
    height:35px;
    width: 100%;
    margin-bottom: 10%;
}

.p{
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #0E6655;
}

.price{
    background-color:white;
    color:#0E6655;
    padding:5%;
    margin-top: -5px;
    border-radius: 67px;
    padding-left: 5px;
    font-family: Saira;
    height: 30px;
    width: 150px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    margin-left: 1%;
}

.bttn{
    background-color: #138b73;
    color:white;
    width: 100px;
    height: 40px; 
    border:none;
    border-radius: 5px; 
    margin-top: 0%;
    padding:6px;
    margin-left: 7%;
    cursor: pointer;
  }

.price:hover{
    background-color: #f1efef
}
@media (max-width: 700px) { 
    .container{
        width: 200px;
        height: 400px;
    }
}