.container{
    display: flex;
    flex-direction: column;
    align-items: center;
 
    color:white;
    background: #0E6655;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 20vw;
   position: fixed;
}
.mainBttn{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    margin:0px;
    padding: 0px;
}
.mainBttn p {
    color:white;
    margin-left: 2.5%;
    
}
.mainBttn img{
    height:20px;
    width: 20px;
    transform: rotate(0deg);
}
.logo{
    height:40px;
    width:70px;
   margin-top: 20%;
   margin-bottom: 20%;
    transform: rotate(0deg);
}


/* pueba Guido */
.mainBttn i{
    height: 20px;
    width: 20px;
    transform: rotate(0deg);
    color: white;
}