.container{
    display: flex;
    flex-direction: column;
    align-items: center;
 
    color:white;
    background: #0E6655;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 196px;
   position: fixed;
}
.mainBttn{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    margin:0px;
    padding: 0px;
    margin-bottom: 5%;
}
.mainBttn p {
    color:white;
    margin-left: 2.5%;
    
}
.mainBttn img{
    height:20px;
    width: 20px;
    transform: rotate(0deg);
}
.logo{
    height:40px;
    width:70px;
   margin-top: 10%;
   margin-bottom: 40%;
    transform: rotate(0deg);
}


/* pueba Guido */
.mainBttn i{
    height: 20px;
    width: 20px;
    font-size: large;
    transform: rotate(0deg);
    color: white;
}

.column {
    align-items: center;
    justify-content:center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 129px;
height: 380.25px;
}

.login{
    margin-top:80%;
}