.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    box-shadow:  4px 4px 4px #969696,
    -4px -4px 4px #ffffff;
    color:white;
    background: #0E6655;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 196px;
   position: fixed;
   text-align: center;
   
}
.mainBttn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    text-align: left;
    height: 100%;
    width: 100%;
    margin:0px;
    padding: 0px;
    margin-bottom: 3%;
}
.mainBttn p {
    color:white;
    align-items: center;
    justify-content:center;
    width: 100%;
}

.logo{
    height:40px;
    width:70px;
   margin-top: 10%;
   margin-bottom: 40%;
    transform: rotate(0deg);
}


/* pueba Guido */
.mainBttn i{
    height: 20px;
    width: 20px;
    text-align: center;
    transform: rotate(0deg);
    color: white;
    margin:0px 1% 0px 0px;
}

.column {
    align-items: center;
    justify-content:center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 129px;
height: 380.25px;
}

.login{
    margin-top:60%;
}
@media (max-width: 700px) { 
    .container{
        height: 100%;
        width: 15%;
    }
    .mainBttn p {
        color:white;
        margin-left: 2.5%;
      
       position: fixed; 
}
.logo{
    margin-top: 8%;
    margin-bottom: 20%;
    width: 40px;
    height: 30px;
}
}