.container{
    margin-left: 16.3vw;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}
.paginationContainer{
    display:flex;
    flex-direction:row;
    margin-top:25%;
    align-items:center;
    justify-content:center;
}

.paginationContainer li{
   margin-left:8%;
   text-decoration: none;
   
}

.searchbar {
    margin-left: 0.5%;
   display:flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 0.5%;
   width: 80vw;
}

.cards{
    margin-top: 3%;
    margin-left: -13vw;
}

.rechargeBtn {
    background-color:#0E6655 ;
    padding: 1%;
    border: 1%;
    border-radius: 10px;
    color: white;
    width: 160px;
    position: absolute;
    top: 100px;
    right:10px;
}

.activePagination {
  color: #0E6655;
}

.bttn{
    background-color: none;
}

@media (max-width: 700px) { 
    .container{
        margin-left: 0vw;
    }

   .rechargeBtn{
       display: none;
   }
  .paginationContainer{
      margin-left:60%;
  }
  .paginationContainer li{
      margin-left:5vw;
  }
}