.bttn {

        background-color: white;
        color:#0E6655;
        width: 100px;
        height: 30px; 
        border:none;
        border-radius: 25px;
        margin-right: 3%;
        cursor: pointer;
}

.bttn:hover{
        background-color:rgb(202, 199, 199);
        transition-duration: 0.5s;
}

.bttn p{
 font-size: 14px;
}

.input {
        width: 100%;
    position: relative;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 7px; 
    border: 2px solid black;
    font-family: 'calibri';
    font-size: 15px;  
    color:black;
}

.hdir {
        margin-bottom: 12px;
}