.bttn {

        background-color: white;
        color:#0E6655;
        width: 100px;
        height: 30px; 
        border:none;
        border-radius: 25px;
        margin-right: 3%;
}

.bttn p{
 font-size: 14px;
}